html,
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: fit-content;
    height: 100vh;
    background-color: green;
}

body{

    overflow: hidden;
  
}

// NAVBAR //

.navBar{
    width: 100vw;
    height: 6rem;
    background-color: black;
    position: relative;
    bottom: 18px;
    .navbarLogo{
        object-fit: cover;
        position: relative;
        width: 30rem;
        left: 24px;
        top: 95px;
        
        img{
            width: 54px;
            height: 54px;
        }
        img.removedProjectX{
            object-fit: cover;
            width: 154px;
            height: 54px;
            position: relative;
            left: 10px;
            bottom: 89px;
        }
        P{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            top: 20px;
            left: 20px;
            position: relative;
            font-size: smaller;
            color: white;
        }
    }

}


// STUDENT LIST //
.addContainer{
    position: relative;
    left: 70rem;
    top: 4.5rem;
    width: 7.8rem;
    height: 2rem;
    h1.addEmployee{
        z-index: 2;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        position: absolute;
        width: 7.8rem;
        height: 2rem;
        font-size: medium;
        padding-left: 12px;
        padding-top: 5px;
        border-radius: 7px;
        background-color: white;
        color: black;
        bottom: 3.7rem;
        left: 5rem;
        &:hover{
            cursor: pointer;
        }
    
    }
}


form.studentForm{
    background-color: lightgreen;
    position: relative;
    left: 64rem;
    width: 20rem;
    height: 15rem;
    bottom: 64rem;
    z-index: 2;
    display: inline-block;
    border-radius: 7px;
    label{
        font-size: larger;
        position: relative;
        top: 12px;
        padding-left: 20px;
    }
    input.studentFormInput{
        position: relative;
        left: 17px;
        width: 15rem;
        height: 2rem;
        margin-top: 10px;
        border-radius: 7px;
        background-color: whitesmoke;
        padding-left: 10px;
        font-size: medium;
        border: none;
       
    }
    input.studentSubmit{
        position: relative;
        top: 50px;
        left: 35px;
        width: 16rem;
        height: 3rem;
        border-radius: 7px;
        border: none;
        &:hover{
            cursor: pointer;
            background-color: red;
            color: white;
        }
    }
}

// TABLE //

.tblStudent{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 59rem;
    height: 32rem;
    position: relative;
    left: 25rem;
    bottom: 31.3rem;
    border-radius: 7px;
    background-color: black;
    color: white;
    /* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0.5rem;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
    // table{
    overflow-x: auto;
   white-space: nowrap; /* prevent line breaks */
   scroll-behavior: smooth; /* smooth scrolling */
 
       
    // }
    label{
        padding:5px;
        display:block;
    }
    table{
        border-collapse: collapse;
        border:1px solid black;
        width: 60rem;
        min-height: fit-content;
        border-radius: 7px;
   
            tr{
                td{
                    position: relative;
                    left: 3rem;
                    padding-left: 30px;
                 }
                 td.tdID{
                    position: relative;
                    left: 20px;
                 }
                 td.tdFirst{
                    position: relative;
                    left: 40px;
                }
                td.tdLast{
                    position: relative;
                    left: 60px;
                }
                td.tdAge{
                    position: relative;
                    left: 35px;
                }
            }
     
 
       
    }
    // table,tr,td{
    // }


}

.studentForm.hidden {
    display: none;
}


//  SIDE BAR //

.studentSidebar{
    position: relative;
    left: 40px;
    top: 10px;
    z-index: 1;
    font-family:Arial, Helvetica, sans-serif;
    width: 20rem;
    height:32rem;
    background-color: black;
    border-radius: 8px;
    color: white;
    p{
        display: inline-block;
        position: relative;
        padding-left: 30px;
    }
    img.phpLogo{
        position: relative;
        width: 44px;
        border-radius: 7px;
        height: 44px;
        left: 20px;
        top: 15px;
        object-fit: cover;
   }
    .logoDiv{
        position: relative;
        top:1rem;
        height: 4rem;
        left: 80px;
        h1.h1Project{
            font-size: 2rem;
            font-style: italic;
            span{
                color: red;
                
            }
        }

     
    }
    
  ul{
    list-style: none;
    position: relative;
    top: 1rem;

    li{
        margin-top: 20px;
        font-size: medium;
        background-color: brown;
        color: white;
        width: 11rem;
        height: 2rem;
        padding-left: 60px;
        padding-top: 10px;
        border-radius: 7px;
        &:hover{
            cursor: pointer;
            opacity: 0.5;
            a{
                color: white;
                opacity: 1;
            }
        }
        a{
            text-decoration: none;
            color: white;
            
        }   
    }
  }
}

// DELETE AND UPDATE //
.deleteTrashContainer{
    background-color: red;
    width:50px;
    height: 2rem;
    position: relative;
    left: 30px;
    border-radius: 7px;
    opacity: 1;
    bottom: 20px;

    &:hover{
        cursor: pointer;
        opacity: 0.8;
    }
    a.deleteTrash{
        img{
            padding-top: 5px;
            width: 24px;
            height: 24px;
            padding-left: 13px;
            object-fit: cover;
            filter: brightness(0%) invert(100%);
        }
    }

}

.updateWritingContainer{
    border-radius: 7px;
    background-color: green;
    width:50px;
    height: 2rem;
    position: relative;
    right: 30px;
    top: 11px;
    &:hover{
        cursor: pointer;
        opacity: 0.8;
    }
    a.updateInfo{

        img{
            padding-top: 5px;
            width: 24px;
            height: 24px;
            padding-left: 15px;
            object-fit: cover;
            filter: brightness(0%) invert(100%);
        }
    }
}

// UPDATE BODY //

body.updateBody{
    width: 100vw;
    height: 100vh;
    background-color: green;
    h2{ 
        color: white;
      
    }
    form.updateForm{
        width: 25rem;
        height: 15rem;
        border-radius: 7px;
        position: relative;
        left: 30rem;
        h2{
            position: relative;
            left: 30rem;
        }
        label{
            font-family: sans-serif ;
            padding-left: 20px;
        }
        input{
            display: inline-block;
            height: 2rem;
            width: 15rem;
            margin-top: 20px;
            border-radius: 7px;

        }
        input.ageInput{
            position: relative;
            left: 50px;
        }
        input.updateSubmit{
            margin-left: 110px;
            &:hover{
                background-color: red;
                color: white;
                cursor: pointer;
            }
        }
    }
}



