body {
    padding: 240px 0;
    text-align: center;
    background: url('background1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

p {
    margin-bottom: 50px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block, .bloc {
    display: inline-block;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 0 10px;
    border-radius: 5px;
    width: 100px;
    color: white;
    transition: background-color 0.2s;
}

.block:hover {
    background-color: #cc0000;
}

.bloc:hover {
    background-color: #80ff80;
}

/* UNSUCCESSFUL */

p.successful span{
    color: green;
}

p.unsuccessful span{
    color: red;
}